<a href="https://colab.research.google.com/github/Santumonu/PW-Data-analysis-july-25/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Practical Questions

1. Write a code to create a string with your name and print it.

In [1]:
name= "Santu Mondal"
print(name)

Santu Mondal

2. Write a code to find the length of the string "Hello World".

In [2]:
len("Hello World")

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
s = "Python Programming"
print(s[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [4]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [6]:
a = "I like apple"
a= a.replace("apple" ,"orange")
print(a)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [8]:
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [9]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [10]:
list2 = [1, 2, 3, 4, 5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [11]:
list3 = ['a', 'b', 'c', 'd']
list3[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
list4 = [10, 20, 30, 40, 50]
list4[::-1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [13]:
a=(100, 200, 300)
print(a,type(a))

(100, 200, 300) <class 'tuple'>

12. Write a code to access the second-to-last element of the tuple('red', 'green', 'blue', 'yellow').

In [21]:
b = ('red', 'green', 'blue', 'yellow')
print(b[2:])

('blue', 'yellow')

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [22]:
t = (10, 20, 5, 15)
print(min(t))

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [23]:
uple = ('dog', 'cat', 'rabbit')
uple.index("cat")

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [24]:
f= ("apple","banana","kiwi")
print("kiwi" in f )

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [25]:
s= { 'a', 'b', 'c',  'a',  'a', 'b', 'c','b',  'a', 'b', 'c','c'}
print(s)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [27]:
j= {1, 2, 3, 4, 5}
j.clear()
print(j)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [29]:
s1= {1, 2, 3, 4}
s1.remove(4)
print(s1)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [30]:
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [31]:
print({1, 2, 3} & {3, 4, 5})

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [33]:
p= {"name": "Santu","age":30, "city":"howrah"}
print(p)

{'name': 'Santu', 'age': 30, 'city': 'howrah'}

 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [35]:
j= {'name': 'John', 'age': 25}
j["country"] = "USA"
print(j)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
a= {'name': 'Alice', 'age': 30}
print(a['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [38]:
b= {'name': 'Bob', 'age': 22, 'city': 'New York'}
b.pop('age')
print(b)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [39]:
z= {'name': 'Alice', 'city': 'Paris'}
print('city'in z)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [41]:
w=["s","r", 4, 5.5]
a=(2, 5,4)
d= {"name": "santu"}
print(w,a,d)

['s', 'r', 4, 5.5] (2, 5, 4) {'name': 'santu'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [42]:
import random; print(sorted(random.randint(1, 100) for _ in range(5)))

[22, 36, 56, 60, 100]

28. Write a code to create a list with strings and print the element at the third index

In [43]:
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

 29. Write a code to combine two dictionaries into one and print the result.

In [46]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)

print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [47]:
sa= [ 'a', 'b', 'c',  'a',  'a', 'b', 'c','b',  'a', 'b', 'c','c']
print(set(sa))

{'b', 'c', 'a'}